.form {
    margin-top: 20px;
    background-color: gray;
    width: 32%;
    margin: auto;
    border-radius: 20px;
    padding: 10px;
    overflow: hidden;
}

.col-center {
    text-align: center;
}