.header-div {
    display: flex;
}

.time {
    float: right;
}

.image {
    width: 100%;
}

.card {
    margin: 5px 0px 40px 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: solid gainsboro;
}

.wrapper {
    text-decoration: none;
    color: black;
}

.wrapper:hover {
    text-decoration: none;
    color: black;
}